.comment-list-row .replay-comment:first-child::after{
  top: 27px;
}
.replay-comment::before{
  bottom: auto;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 10px;
  top: -5px;
}
.replay-comment::after{
  top: 0;
  bottom: 0;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
  content: "";
  left: 55px;
  position: absolute;
  width: 0;
  z-index: 1;
}
.replay-comment img{
  z-index: 100;
  position: relative;
}
.new-post-block{
  padding: 20px 40px;
  cursor: pointer;
}
.new-post-block:hover{
  background: #eee;
}
