.hidden{
  display: none;
}
.twit-card{
  padding: 10px;
  background: #fff;
  margin: 8px 0 0;
  cursor: pointer;
}
.twit-card:hover{
  background: #eee;
}
.twit-card-image{
  height: 300px;
  overflow: hidden;
}
.twit-card-image img{
  width: 100%;
}
.userIco{
  border-radius: 50%;
  cursor: pointer;
}
.action-board{
  padding: 5px 0;
  cursor: default;
}
.action-board img{
  height: 20px;
  width: 20px;
  margin-top: 3px;
  margin-right: 5px;
}
.like-btn, .retwit-btn, .comment-btn{
  display: flex;
  margin-right: 10px;
  padding: 0 10px;
  cursor: pointer;
}
.like-btn:hover, .retwit-btn:hover, .comment-btn:hover{
  background: #eee;
}
[data-user-action = "like"], [data-user-action = "retwit"]{
  color: red
}
.card-bottom{
  background: #fff;
  height: 50px;
  border-top: 1px #007bff solid;
  border-radius: 0 0 25px 25px;
}
.new-card-block{
  background: #007bff;
  color: #fff;
  padding: 7px;
  margin-top: 5px;
  cursor: pointer;
}
