.login-portal{
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
  z-index: 999;
}
.modal-block{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 100px 350px;
  z-index: 9999;
}
.modal-block-content{
  position: relative;
  padding: 50px 100px;
}
.modal-close{
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.error-portal{
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.error-portal .alert-success, .error-portal .alert-danger{
  padding: 5px 10px;
}
